.body{
	opacity:5.2;
	align-content: center;
	text-align: center;
	border: 5px double;
}
.table 1{
   padding-bottom: 0px;
}

h1{
	color: black;
	text-align: center;
	margin:0;
	padding:0;
}

h5{
	text-align: center;
	margin:0;
	padding:0;
}
image {
	border = 1px solid black;
}

.about{
	text-align: relative;
	
}
h2{
	color: #034f84;
	margin-left: 20px;
    margin-right: 20px;
}
h4{
	color:black;
	margin-left: 20px;
	margin-right: 20px;
}


p{
	font-family: Helvetica;
	font-size: 18;
	word-spacing: 5px;
	color: black;
	font:style: bold;
	opacity:0.7;
    margin-left: 20px;
    margin-right: 20px;
}

table,th{
	
	font-family: Helvetica;
	font-size: 18;
	word-spacing: 5px;
	color: black;
	font:style: bold;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

td {
    padding-top: 0px;
    padding-bottom: 0px;
}


